$backgroundColor: #EFF3FA;
$colorPrimary: #2E9FFF;

$commentPadding: 10px;
$commentBorderColor: #E0E3E9;
$commentBackgroundColor: #fff;
$commentContentColor: #546673;
$commentBorderRadius: 2px;
$commentIconSize: 15px;

body {
  background: $backgroundColor;
}

.container {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  
  .page-content {
    display: flex;
    justify-content: center;
  }
}

.comment-box {
  width: 100%;

  .comment {
    width: 100%;
    border: 1px solid $commentBorderColor;
    margin-bottom: 20px;
    background-color: $commentBackgroundColor;
    color: $commentContentColor;
    border-radius: 2px;

    .header {
      display: flex;
      justify-content: space-between;
      padding: $commentPadding;

      .author {
        color: $colorPrimary;
      }

      .actions {
        .delete {
          display: block;
          background: image-url('delete.svg');
          height: $commentIconSize;
          width: $commentIconSize;
          background-size: $commentIconSize;
        }
      }
    }

    .content {
      padding: $commentPadding;
    }
  }

  .comment-add {
    .author {
      height: 2em;
      width: 50%;
      font-size: 1em;
      padding-left: 10px;
    }

    .content {
      width: 100%;
      height: 80px;
    }

    .form-field {
      padding-top: 10px;
      padding-bottom: 10px;
    }

    .submit {
      width: 100px;
      height: 40px;
      padding: 5px;
      font-size: 12px;
      text-align: center;
      background-color: $colorPrimary;
      color: #fff;
      border: none;
      border-radius: 6%;
    }
  }
}
