$commentPadding: 5px;

.container {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  
  .page-content {
    display: flex;
    justify-content: center;
  }
}

.comment-box {
  width: 100%;

  .comment {
    width: 100%;
    border: 1px solid;
    margin-bottom: 20px;

    .header {
      display: flex;
      justify-content: space-between;
      padding: $commentPadding;
      border-bottom: 1px solid;
    }

    .content {
      padding: $commentPadding;
    }
  }

  .comment-add {
    .comment {
      width: 100%;
      height: 80px;
    }

    .form-field {
      padding-top: 10px;
      padding-bottom: 10px;
    }

    .submit {
      width: 100px;
      height: 25px;
      padding: 5px;
      font-size: 12px;
      text-align: center;
      background-color: #019875;
      color: #fff;
      border-radius: 6%;
    }
  }
}
